/*
 * CSS reset rules adapted from Josh Comeau's "A Modern CSS Reset"
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}
