:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --px-to-rem: 0.0625rem; /* This is 1/16 */

  --space-40: calc(40 * var(--px-to-rem));
  --space-24: calc(24 * var(--px-to-rem));
  --space-16: calc(16 * var(--px-to-rem));
}

body {
  font-family: Outfit, Arial, Helvetica, sans-serif;
}

main {
  background-color: var(--slate-300);
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.card {
  border-radius: 20px;
  background-color: var(--white);
  max-width: min(100%, 320px);
  padding: var(--space-16);
  padding-bottom: var(--space-40);
  box-shadow: 0 25px 25px rgb(0 0 0 / 0.0477);
  text-align: center;
}

.qr-code {
  border-radius: 10px;
}

.heading {
  margin-block: var(--space-24) var(--space-16);
  font-size: calc(22 * var(--px-to-rem));
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--slate-900);
}

.text {
  margin-inline: var(--space-16);
  font-size: calc(15 * var(--px-to-rem));
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--slate-500);
}
